{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
Hello World !

    Latest Movie :
    <a href="{{ path('app_show_movie', {id: latestMovie.id}) }}">
        {{ latestMovie.title }}
    </a>
{% endblock %}
